* {
    margin: 0;
    font-family: monospace;
    
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-image: url('../IMG/pongmenu.jpg');
    background-size: cover;
}

#menuButton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#score {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#score h1 {
    font-size: 36px;
}

#score .border {
    width: 3px;
    height: 50px;
    background-color: white;
    margin: 10px;
}

